@model OOP2016MusicLibrary.Models.Song

@{
    ViewBag.Title = "Create";
}

<h2>Create Song</h2>


@using (Html.BeginForm("Upload", "Songs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   <input type="file" name="file" />
   <input type="submit" name="Submit" id="Submit" value="Upload"/>
}

@using (Html.BeginForm("Upload", "Songs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

@using (Html.BeginForm(new { id2 = ViewBag.id2 }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Song</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.songName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.songName)
                @Html.ValidationMessageFor(model => model.songName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.artist, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.artist)
                @Html.ValidationMessageFor(model => model.artist)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imageSrc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input class="text-box single-line" id="imageSrc" name="imageSrc" value="" type="file">
                <span class="field-validation-valid" data-valmsg-for="imageSrc" data-valmsg-replace="true"></span>

                <!--
                @Html.EditorFor(model => model.imageSrc)
                @Html.ValidationMessageFor(model => model.imageSrc)
                    -->
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fileSrc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="text-box single-line" id="fileSrc" name="fileSrc" value="" type="file">
                <span class="field-validation-valid" data-valmsg-for="fileSrc" data-valmsg-replace="true"></span>
                <!--
                @Html.EditorFor(model => model.fileSrc)
                @Html.ValidationMessageFor(model => model.fileSrc)
                    -->
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.playlistId, "playlistId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.playlistName
                <!--
                @Html.DropDownList("playlistId", String.Empty)
                @Html.ValidationMessageFor(model => model.playlistId)
                    -->
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id2 = ViewBag.id2 })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}