@model OOP2016MusicLibrary.Models.Song

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Playlist.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playlist.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.songName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.songName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageSrc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageSrc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileSrc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileSrc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index",new {id2 = ViewBag.id2})
        </div>
    }
</div>
